/* CSS for terminal web browsers */
@media tty { }

/* Main */

body {
    /*padding: 50px 0px 20px 0px;*/
}

#markdown-container {
    padding-top : 20px;
    overflow-y  : scroll;
    height      : calc(100vh - 50px);
}

/* Inline table of contents */

toc {
    display: inline-block;
    margin-top:10px;
}
toc ol ol {
    padding-left: 20px;
}
toc > ol {
    border: 1px solid grey;
    padding: 10px;
    background-color: #eeeeee;
}
toc a {
    padding-left: 5px;
    color: black;
}
toc ol {
    counter-reset: item;
}
toc li {
    display: block;
    /*border-top: 1px dashed gray;*/
}
toc li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

/* Floating/Navigation table of contents */

details.toc {
    padding: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
    display: inline-block;
}

.toc-menu, .toc-menu ul {
    list-style-type:none;
}
.toc-menu a {
    color: black;
    display: block;
    text-decoration: none;
}
.toc-menu a:hover,
.toc-menu li.active > a
{
    color: white;
    background-color: #2780e3;
}
.toc-menu li ul {
    display:none;
}
.toc-menu li:hover ul,
.toc-menu li.visible ul
{
    display:block;
}
.toc-menu, .toc-menu ul, .toc-menu li {
    padding: 0px;
}
.toc-menu > li > a {
    padding-left:20px;
}
.toc-menu > li > ul > li > a {
    padding-left:40px;
}
.toc-menu > li > ul > li > ul > li > a {
    padding-left:60px;
}
.toc-menu a {
    border-top: 1px solid #eeeeee;
}
.toc-menu {
    margin-top:20px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

/* Map mode TOC */

#markdown-toc {
    padding-left     : 10px;
    padding-right    : 10px;
    padding-bottom   : 0px;
    padding-top      : 10px;
    height           : calc(100vh - 50px);
    background-color : #d7d8d8;
    margin-left      : 15px;
}
#markdown-toc, #markdown-toc a {
    color: #1d1e1f;
}
#markdown-toc .tree-toggle {
    float:left;
    width:1em;
}
#markdown-toc ul {
    list-style-type: none;
}
#markdown-toc > ul {
    font-size: 0.8em;
}
#markdown-toc ul {
    padding-left : 1.3em;
    text-indent  : -1.0em;
}
#markdown-toc div.tree-toggle {
    cursor : pointer;
}
#markdown-toc li.visible > div.tree-toggle {
    color: red;
}
#markdown-toc li.active > a {
    font-weight: bold;
}